Data/ALA_Austrochaperina.csv
Data/ALA_Cophixalus.csv
Data/doi_10_5061_dryad_8112f__v20160225/*
Data/mbutler808-Asterophryinae_phylogenetic_data-2a248b8/*
Data/Richness_Maps_IUCN.RData
Literature/
Sampling/Asterophryinae_SampleInfo.csv
Sampling/Asterophryinae_Sampling_SAM.csv
Sampling/Asterophyrinae_Sampling_Peloso.csv
Sampling/SamplingNotes.txt
Scripts/Richness_Maps.R
Trees/OLD